# Ignore node modules
node_modules/

# Ignore environment variables file
.env
massive-hexagon-286009-2e1bb1f0ddc3.json

# Ignore logs
logs/
*.log

# Ignore any build output folders if hain
dist/
build/
